:root {
  --bg: #f00;
  --card-bg: rgba(10, 10, 10, 0.4);
  --text: #e0e0e0;
  --accent: #ff003c;
  /* Cyber Red */
  --accent-2: #00f3ff;
  /* Cyber Cyan */
  --border: rgba(255, 255, 255, 0.1);
  --font-display: 'Syncopate', sans-serif;
  --font-code: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-display);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
}

.scroll-proxy {
  height: 10000vh;
  position: absolute;
  width: 100%;
  z-index: -1;
  pointer-events: none;
}