<div class="gallery">
	<div class="gallery__item">
		<img
			src="/images/lottie-judges-you.webp"
			class="gallery__image"
			alt="Lottie judging the camera intensely"
			loading="lazy"
		>
	</div>
	<div class="gallery__item">
		<img
			src="/images/lottie-on-watch-duty.webp"
			class="gallery__image"
			alt="Lottie on watch duty, ears perked"
			loading="lazy"
		>
	</div>
	<div class="gallery__item">
		<img
			src="/images/lottie-pup-phase.webp"
			class="gallery__image"
			alt="Lottie in her puppy phase"
			loading="lazy"
		>
	</div>
	<div class="gallery__item">
		<img
			src="/images/lottie.webp"
			class="gallery__image"
			alt="Lottie, a portrait"
			loading="lazy"
		>
	</div>
</div>
