:host {
	display: block;
}

.card-header {
	border-bottom: 1px solid var(--border);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-header__id {
	font-family: var(--font-code);
	color: var(--accent);
	font-size: 0.8rem;
}

.card-header__arrow {
	color: var(--text);
	font-size: 1rem;
	display: none;
}

:host([modal]) .card-header__arrow {
	display: block;
}
