<div class="gallery">
  <div class="gallery__item">
    <img src="/images/lottie-judges-you.webp" class="gallery__image" alt="My dog, Judges You" loading="lazy"/>
  </div>
  <div class="gallery__item">
    <img src="/images/lottie-on-watch-duty.webp"  class="gallery__image" alt="My dog, On Watch Duty" loading="lazy"/>
  </div>
  <div class="gallery__item">
    <img src="/images/lottie-pup-phase.webp" class="gallery__image" alt="My dog, Judges You" loading="lazy"/>
  </div>
  <div class="gallery__item">
    <img src="/images/lottie.webp" class="gallery__image" alt="My dog, Judges You" loading="lazy"/>
  </div>
</div>