card-footer {
	display: block;
}

.card-footer {
	margin-top: clamp(1rem, 3vw, 2rem);
	display: flex;
	justify-content: space-between;
	font-family: var(--font-code);
	font-size: clamp(0.6rem, 1.5vw, 0.7rem);
	gap: 1rem;
}

.card-footer__tags {
	color: var(--hyper-footer-text);
}

.card-footer__year {
	color: var(--text);
}
